<!DOCTYPE html>
<html>
<header>
    <style>
        header {
            background: green;
        }
        body {
            
            background: #33cc33;
        }
        input {
            display: block;
                       
        }
        label {
            color: black;
            }
        p {
            color: #0a290a;
            width: 900px;
            }
        .errors {
            color: red;
        }
        img {
            border:solid 10px black;
        
            
        }
    </style>
    <title>Sign up for something even though you don't know what it is.</title>
</header>
<body>
<h2>Shady Acres Sign Up sheet</h2> 
<p>
    You might be signing up for email spam.  <br>
    You might be signing up for identity theft.  <br>
    Part of the fun is<br> <strong>
    You... Just... Don't... Know...</strong>
<p>
    
    {% block content %}
    {% endblock %}
    
</body>

</html>
