{% extends "base.html" %}

{% block content %}
<h1>Welcome {{username}}!! You have successfully completed your form.</h1>
<p>
    What next?  Wait for your false tax return to come in the mail.  There is 
    no need to check with the IRS, or any credit reporting company for 
    the next 3-6 months.  You are being <strong>taken care of.</strong> 
    If you have any questions or concerns please contact our private investigator
    listed below.  (Please wire money in advance. He is a busy man.)
</p>

<div id = "falsefooter">
    <p>
        Private investigator: <b>John Dillinger</b> <br>
        Phone number: <b>123-456-7891</b> (please dial 1 for long distance jurisdiction) <br>
        Wire money to electric <b>Bank</b> account: 123456789101112 
    </p>

<div>



{% endblock %}
